<!DOCTYPE html>
<html>
<head>
  <title>RailsGitVersion</title>
  <style>
    body {
      font: 14px 'helvetica', sans-serif; color: #444;
      padding: 0;
      margin: 0;
    }
    p.deployed {
      margin: 0;
      padding: 10px;
    }
    span.rest { color: #999; }
  </style>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
